[submodule "rtectrl-rest-api"]
	path = rtectrl-rest-api
	url = git@github.com:3mdeb/rtectrl-rest-api.git
[submodule "snipeit-rest-api"]
	path = snipeit-rest-api
	url = git@github.com:3mdeb/snipeit-rest-api.git
[submodule "pikvm-rest-api"]
	path = pikvm-rest-api
	url = git@github.com:3mdeb/pikvm-rest-api.git
