robot-venv
robotframework
minicom.cap
qemu-data
*.xml
*.html
*.log
*.rom
*.tar.gz
*.md5
*.js
*.pyc
credentials.py
downstream_job_parameters.txt
openbmc-test-automation/
__pycache__*
*.fd
dl-cache/*
!dl-cache/.gitkeep
qemu-data/
scripts/secure-boot/images/*
