# SPDX-FileCopyrightText: 2024 3mdeb <contact@3mdeb.com>
#
# SPDX-License-Identifier: Apache-2.0

---
extends: default

rules:
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 2
  document-start:
    present: true
    level: error
  indentation:
    spaces: 2
  line-length: disable
  truthy:
    check-keys: false
