# default settings, to mimic interactive install
keyboard --vckeymap=us
timezone --utc UTC

sshpw --username root --plaintext userpass

%packages
@^qubes-xfce
#@debian
#@whonix
%end

%pre
sed -i '/PasswordAuthentication/s!no!yes!' /etc/ssh/sshd_config.anaconda
systemctl stop sshd.socket
systemctl stop sshd.service
systemctl restart anaconda-sshd
ip addr replace 192.168.10.93 dev eth0

fdisk /dev/nvme0n1 << FDISK
d
8
d
7
w
FDISK
%end

%post

# could instead set USBVM=none
# allow all USB devices
sed -i 's/authorized_default=0/authorized_default=1/' /boot/grub2/grub.cfg

# enable password root login over SSH
mkdir -p /etc/ssh/sshd_config.d
echo 'PermitRootLogin yes' > /etc/ssh/sshd_config.d/30-openqa.conf

# enable SSH on first boot
cat >/usr/local/bin/post-setup << EOF_POST_SETUP
#!/bin/sh

set -xe

qvm-run -p --nogui -- sys-net nm-online -t 300
qubes-dom0-update -y openssh-server
systemctl enable --now sshd
printf 'qubes.ConnectTCP +22 sys-net dom0 allow\n' >> /etc/qubes/policy.d/30-openqa.policy

qvm-run --nogui -u root -p sys-net 'cat >>/rw/config/rc.local' << EOF_ALLOW_22
nft add rule ip qubes custom-input tcp dport ssh accept
iptables -I INPUT -p tcp --dport 22 -j ACCEPT
qvm-connect-tcp 22:dom0:22
EOF_ALLOW_22
qvm-run --nogui -u root sys-net '/rw/config/rc.local </dev/null &>/dev/null'

systemctl disable post-setup.service
EOF_POST_SETUP
chmod +x /usr/local/bin/post-setup

cat >/etc/systemd/system/post-setup.service << EOF_SERVICE
[Unit]
After=initial-setup.service
[Service]
Type=oneshot
ExecStart=/usr/local/bin/post-setup
[Install]
WantedBy=multi-user.target
EOF_SERVICE
systemctl enable post-setup.service
echo enable post-setup.service >> /usr/lib/systemd/system-preset/30-openqa.preset

%end
